<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flasker</title>
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static',filename='style.css') }}">
</head>
<body>
    <div class="page">
        <h1>Flasker</h1>
        <div class="metanav">
            {% if not session.logged_in %}
            <a href="{{ url_for('login') }}">log in</a>
            {% else %}
            <a href="{{ url_for('logout') }}">log out</a>
            {% endif %}
        </div>
        {% for messsage in get_flashed_messages() %}
            <div class="flash">{{ messsage }}</div>
        {% endfor %}
        {% block body %}

        {% endblock %}
    </div>
</body>
</html>